<!DOCTYPE html>
	<html>

		<head>
			<title>Producto 1</title>
			<meta charset="UTF-8">
			<link href="{{ asset('css/estilos.css') }}" rel="stylesheet" />
		</head>

		<body>
			<h1>Producto1 (Versión antigua)</h1><br>
			<img class="imagen" src="{{ asset('img/producto1.jpg') }}" /><br>
			<a href="/"> <button type="button">Volver a la landing page</button> </a><br>
		</body>

	</html>